<div class='container' style="z-index: 1;">
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="https://tonyandcimagebucket.nyc3.cdn.digitaloceanspaces.com/assets/images/tonyandc-football-home-img-01.jpg" height="5%" width="100%" alt="Delhi Metro">  
                <div class="carousel-caption">
                    <p>New in the Shop</p>
                    <button>Shop Now</button>
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://tonyandcimagebucket.nyc3.cdn.digitaloceanspaces.com/assets/images/tonyandc-leopard-home-img-02.jpg" height="5%" width="100%" alt="Bangalore Metro">  
                <div class="carousel-caption">
                    <p>The Decor Collection</p>
                    <button>Shop Now</button>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://tonyandcimagebucket.nyc3.cdn.digitaloceanspaces.com/assets/images/tonyandc-romy-home-img-03.jpg" height="5%" width="100%" alt="Channai Metro">  
                <div class="carousel-caption">
                    <p>The Home Collection</p>
                    <button>Shop Now</button> 
                </div>  
            </ng-template>
        </ngb-carousel>  
    </div>  
  
</div>
