<app-img-carousel></app-img-carousel>
<div class="products-wrapper">
    <div class="product-container">
        <a href="#">
            <img src="https://tonyandcimagebucket.nyc3.cdn.digitaloceanspaces.com/assets/images/tonyandc-romy-product-img-01.jpg" width="75%" height="75%" />
            <div class="category-caption">
                <p>Girls Decor</p>
            </div>            
        </a>

    </div>

    <div class="product-container">
        <a href="#">
            <img src="../../assets/images/product2.jpg" width="75%" height="75%" />
            <div class="category-caption">
                <p>Boys Decor</p>
            </div>
        </a>

    </div>

    <div class="product-container">
        <a href="#">
            <img src="../../assets/images/product1.jpg" width="75%" height="75%" />
            <div class="category-caption">
                <p>Holiday Decor</p>
            </div>
        </a>
    </div>

    <div class="product-container">
        <a href="#">
            <img src="../../assets/images/product4.jpg" width="75%" height="75%" />
            <div class="category-caption">
                <p>Nursury Decor</p>
            </div>        
        </a>

    </div>
</div>

<div class="info-wrapper">
    <h4>Interesting About Headline goes here</h4>
    <p>Donec lorem magna, euismod non maximus a, eleifend id arcu. Cras vitae vehicula dui, id suscipit orci.</p>
    <p>Id risus quis eleifend. Duis ac sagittis augue. In sed turpis lorem. Phasellus sit amet pellentesque dui, quis.</p>
    <p>Donec rhoncus duis elementum mattis lorem in fermentum pulvinar ipsum.</p>
</div>