.logo-container {
    margin: 0 auto;
    width: 80%;
}

app-social {
    width: 300px;
    margin: 0 !important;
    display: block;
    float: left;
}

app-search {
    float: right;
}

.hdr-bar {
    height: 50px;
    width: 80%;
    margin: 0.75em auto 0;
}
.nav-wrap {
    background-color: #ffffff;
    position: -webkit-sticky !important;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    display: block;
    top: 0;
    width: 80%;
    margin: 0 auto;
    transition: width 0.5s;
    z-index: 999;
}
